/**************************************************
****************** inicio_LAYOUT *****************/

html,body{
	height: 100%;
<<<<<<< HEAD
  background: url(img/imgcapa2.png),   
=======
  background: url(img/imgcapa2.png),
>>>>>>> 90f3bf7f578c6487ba5b037452335059adb5e6d9
              linear-gradient(90deg,#9400D3,#00BFFF);
              background-attachment: fixed;/*dessa forma a imagem não se repete indefinitivamente no background*/

}

/*=================
=== inicio_CABEÇALHO ===*/

/*** Barra de menu ***/
nav.navbar-fundomenu{
	background:#2E2E2E; /*definindo a cor de fundo do menu topo*/
	padding: 20px 20px;/*definindo o espaçamento do fundo-menu*/	
	background: rgba(0, 0, 0, 0.8);/*definindo o nível de opacidadce da cor background*/
}

/*** Logo da barra de menu ***/
.navbar-brand{ 
  /*configuração padrão do bootstrap para deixar o logo centralizado do lado esquerdo da navbar 7,5 é a divisão do padding do nav.navbar-fundo de 15px*/
	padding: 7.5px 0px;	 
}

/*** Logo da barra de menu ***/
.logo-menu{
	height: 35px;
	width: 170px;
	background: url('img/logomenu.png')no-repeat;
	display: block;
	background-size: contain;/*se ajusta com o tamanho definido pela classe logo-menu*/ 
	color:transparent;/*mantem a palavra Casa do Computador definido no html pelo Span escondida e so´aparecerá para 
	leitores de texto*/
}

/*** Itens do menu (cor fixa) ***/
.navbar-inverse .navbar-nav>li>a, footer .nav a {  
	color: white;

}

/*** Itens do menu (cor ao passar do mouse) ***/
.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {  
	color: orange;
  background: none;

}

/*** Itens do dropdown (apenas em janela web) ***/ 
.navbar-inverse .navbar-nav>.dropdown>ul>li>a:hover {
   background-color: orange; 
}

/*** Barrinha vertical que divide os itens do menu ***/ 
.divisor{
	background: white;
	height: 15px;
	width: 1px;
	margin: 18px 10px;
}

/*=== fim_CABEÇALHO ===
=================*/




/*================
=== inicio_CAROUSEL ===*/

/*** Estrutura base ***/
.carousel { /*definição do tamanho do carousel em altura e margim*/
  height: 500px;
  /*margin-bottom: 60px;/*a margin-bottom foi adicionada para hever um espaço de 60px abaixo do carrossel*/
  margin: 100px 60px;
}

/* Desde o posicionamento da imagem, precisamos ajustar a legenda
.carousel-caption {
  z-index: 10;
}*/

/*** Conteudo/imagens interna / <div 2.1 - 2.2 - 2.3> ***/
.carousel .item {
  height: 500px;
  /* (NÃO ESTA EM USO) background-color: #777;/*cor de fundo do background carousel item*/
}

/*** Conteudo/imagens interna / img ***/
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;/*determinando o tamanho da imagem que está dentro do carousel deve ser o mesmo valor 
  que o carousel .item e .carousel*/
}

/*=== fim_CAROUSEL ===
================*/




/*===============
=== inicio_SERVIÇOS ===*/

/*** Section de serviços ***/
#servicos {
  padding-bottom: 20px;
  background: white;
}

/* Texto de todos serviços */
.servicoConteudo {
  height: 250px;
}

/* Quadro da imagem 1 */
.servicoImg {
  padding-top: 15px;
  height: 250px;   
}

/* Linha horizontal */
hr{
  border-color:#aaa;
  box-sizing:border-box;
  width:100%;  
}

/*=== fim_SERVIÇOS ===
================*/




/*===============
=== inicio_RODAPÉ ===*/

/*** Estrutura base ***/
footer{
  background:black;
  position: relative;
  padding: 50px 0px 20px 0px;
}
.item-rede-social{
  float: right;
}

/*=== fim_RODAPÉ ===
===============*/

/***************** fim_LAYOUT *****************
*************************************************/




/**********************************************************
****************** inicio_MEDIA QUERIES *****************/



/***************** fim_MEDIA QUERIES ******************
**********************************************************/




/******************************************************
****************** inicio_TIPOGRAFIA *****************/

/* Formatação dos textos da sessão de serviços */
.servicoConteudo p {
  font-family: bell mt;
  font-size: 20px;
}

.servicoConteudo h2 {
  color: #495752;
}

/***************** fim_TIPOGRAFIA ******************
******************************************************/

















/*================================================================*/
/*
/* (NÃO ESTA EM USO) inicio configuração da imagem com logo  do computador e a pessoa estérica 
#fundo-externo {
    overflow: hidden; /* para que não tenha rolagem se a imagem de fundo for maior que a tela 
    width: 100%;
    height: 100%;
    position: relative; /* criamos um contexto para posicionamento 
}
*/

/*
(NÃO ESTA EM USO)
#fundo {
    /*position: fixed;  posição fixa para que a possível rolagem da tela não revele espaços em branco
    width: 100%;
    height: 100%;
}
*/

/*
(NÃO ESTA EM USO)
#fundo img {
    width: 100%; /* com isso imagem ocupará toda a largura da tela. Se colocarmos height: 100% também, a imagem irá distorcer 
    position: absolute;
}
/* fim configuração da imagem com logo  do computador e a pessoa estérica
/* --------fim da estilização a navbar de navegaçaõ do topo----------
*/





/*aumentar o tamanho do carrossel
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
    usado junto com o carrousel caption para formatação de um paragrafo
  }

  .featurette-heading {
    font-size: 50px;
  }
}
*/
/*
(NÃO ESTA EM USO)
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
*/



/* (NÃO ESTA EM USO)
/*****************************
* CONTEÚDO DE MARKETING
*
*/

/* Centro alinhar o texto dentro das três colunas abaixo do carrossel 
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}*/

/* Featurettes
------------------------- 

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more 
}

/* Thin out the marketing headings 
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

*/

/*
*
* CONTEÚDO DE MARKETING
******************************/