html,body{
	height: 100%;
}


/* --------------Layout de Navegação--------------------*/

/* --------estilizando a navbar de navegaçaõ do topo---------*/
nav.navbar-fundomenu{
	background:#2E2E2E; /*definindo a cor de fundo do menu topo*/
	padding: 0px 0px;/*definindo o espaçamento do fundo-menu*/	
	background: rgba(0, 0, 0, 0.8);/*definindo o nível de opacidadce da cor background*/
}


/*configuração padrão do bootstrap para deixar o logo centralizado do lado esquerdo da navbar
	7,5 é a divisão do padding do nav.navbar-fundo de 15px*/
.navbar-brand{ 
	padding: 7.5px 0px;	
}

/*configuração do logo casa do computador que está dentro do menu navbar*/
.logo-menu{
	height: 35px;
	width: 170px;
	background: url('img/logomenu.png')no-repeat;
	display: block;
	background-size: contain;/*se ajusta com o tamanho definido pela classe logo-menu*/ 
	color:transparent;/*mantem a palavra Casa do Computador definido no html pelo Span escondida e so´aparecerá para 
	leitores de texto*/
}


/* definindo a cor das letras do menu do topo da navbar  através da classe navbar
-default que está no html passando para a classe navbar-nav selecionando o filho li dessas classes e o filho a
da li*/
.navbar-default .navbar-nav>li>a {  
	color: white;
}


/* definindo a cor das letras ao passar
o mouse no menu da navbar  através da classe navbar-default que está no html passando para a classe navbar-nav selecionando
 o filho li dessas classes e o filho da li*/
.navbar-default .navbar-nav>li>a:hover {  
	color: orange;
}


/*cor de fundo ao passar o mouse nos submenus dropdows*/
.navbar-default .navbar-nav>.dropdown>ul>li>a:hover {
   background-color: #e7e7e7; 
}

.divisor{/*dividindo os menus*/

	background: white;
	height: 15px;
	width: 1px;
	margin: 18px 10px;
}
/* inicio configuração da imagem com logo  do computador e a pessoa estérica*/
#fundo-externo {
    overflow: hidden; /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;
    position: relative; /* criamos um contexto para posicionamento */

}

#fundo {
    /*position: fixed;  posição fixa para que a possível rolagem da tela não revele espaços em branco */
    width: 100%;
    height: 100%;
}


#fundo img {
    width: 100%; /* com isso imagem ocupará toda a largura da tela. Se colocarmos height: 100% também, a imagem irá distorcer */
    position: absolute;
}
/* fim configuração da imagem com logo  do computador e a pessoa estérica*/
/* --------fim da estilização a navbar de navegaçaõ do topo----------*/


/*inicio estilização do carrossel
-------------------------------------------------- */

/* Carousel class básica */
.carousel { /*definição do tamanho do carousel em altura e margim*/
  height: 500px;
  margin-bottom: 60px;/*a margin-bottom foi adicionada para hever um espaço de 60px abaixo do carrossel*/
  

}
/* Desde o posicionamento da imagem, precisamos ajudar a legenda
.carousel-caption {
  z-index: 10;
}*/

/* Declarar alturas por causa do posicionamento do elemento img */
.carousel .item {
  height: 500px;
  background-color: #777;/*cor de de fundo do background  carousel item*/

}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;/*determinando o tamanho da imagem que está dentro do carousel deve ser o mesmo valor 
  que o carousel .item e .carousel*/
}


/*CONTEÚDO DE MARKETING
-------------------------------------------------- */

/*  Centro alinhar o texto dentro das três colunas abaixo do carrossel 
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}*/

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* Media queries para responsividade do carrossel
-------------------------------------------------- */



  /*aumentar o tamanho do carrossel
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
    usado junto com o carrousel caption para formatação de um paragrafo
  }
*/
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
/*Fim do Carroussel

/*-----inicio do rodapé----*/

footer{
  background:black;
  position: relative;
  padding: 50px 0px 20px 0px;
}

/*-----fim do rodapé----*/

/* --------------Tipografia--------------------*/

